<footer class="simple-footer">
  <div class="footer-content">
    <div class="footer-logo">
      <div class="logo-container">
        <img src="/images/concertsync-logo.png" alt="ConcertSync Logo" class="footer-logo-img">
        <span class="footer-logo-text">ConcertSync</span>
      </div>
      <p class="footer-tagline">Connecting music fans since 2025</p>
    </div>
    
    <div class="footer-links">
      <h3>Quick Links</h3>
      <ul>
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['/groups']">Groups</a></li>
        <li><a [routerLink]="['/setlists']">Setlists</a></li>
      </ul>
    </div>
  </div>
  
  <div class="footer-bottom">
    <p>&copy; {{ currentYear }} ConcertSync. All rights reserved.</p>
  </div>
</footer>